body {
    background-image: url("img/minimal2.webp");
    background-size: cover;
}
.btn-success {
    background-color: #FB1F41 !important;
    border-color: #FB1F41 !important;
}
.todo-card {
    background-color: rgba(255, 255, 255, .05) !important;
    backdrop-filter: blur(5px);
}
li {
    background-color: rgba(255, 255, 255, .65) !important;
    
}
#icon {
    height: 70px;
    margin-right: 30px;
}
.li-bottom {
    border-radius: 0 0 10px 10px !important;
    background-color: rgba(251, 31, 65, 0.8) !important;
    height: 15px
}
.btn-danger {
    border-radius: 50% !important;
    height: 29px;
    background-color: rgba(251, 31, 65, 0.8) !important;
    border-color: rgba(251, 31, 65, 0.8);
}